h1{
    text-align: center;
    background-color:rgb(255, 255, 255);
    }
    
    h3{
        background-color:rgb(255, 255, 255);
    }
    
    p {
        text-align: center;
        font-size: medium;
        color: white;
    }
    
    strong {
        font-size: larger;
    }
    
    body {
        background-color:black ;
    }
    .brilho {
        color: azure;
        font-style: italic;
    }